<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/ico" href="images/favicon.ico">
    <title>Personal API Stuff</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  </head>
  <body>
    <div class="container">
      <h1>Personal API Stuff<span><img src="images/apple.png" alt="" style="margin-top:-20px;" /></span></h1>
      <div class="row">
        <div class="col-md-6 left">
          <!-- Form For CRUD -->
            <div class="form-wrapper">
            
              <form id="andrewForm" class="andrew-form">
                <input type="text" id="title" name="title" placeholder="Title" />
                <input type="text" id="medium" name="medium" placeholder="Medium" />
                <input type="text" id="description" name="description" placeholder="Description" /><br/>
                <button id ="submit" type="submit" class="btn btn-primary">Print Item</button>
              </form>

            </div><!-- close form-wraper -->
            <div id="three" class="three">
                
                <a class="toggle btn btn-primary" href="#example">First Cassette Tape</a>
                <a class="toggle btn btn-primary" href="#example2">First Compact Disk</a>
                <a class="toggle btn btn-primary" href="#example3">Favorite Star Wars Episode</a>

                <div id="example" class="toggle-content">
                  <h2>Blind Melon- No Rain</h2>
                  <img src="images/blindmelon.jpg" alt="" />
                </div>
                  
                <div id="example2" class="toggle-content">
                  <h2>Nirvana- Nevermind</h2>
                  <img src="images/nirvana.jpg" alt="" />
                </div>
                
                <div id="example3" class="toggle-content">
                  <h2>Star Wars- Empire Strikes Back</h2>
                  <img src="images/starwars.jpg" alt="" />
                </div>
              </div> 
<!-- <h4><a href="/api">Read My API Documentation</a></h4> -->
        </div><!-- close .col-md-6 -->
        <div class="col-md-6 right">
         <div id="output" class="andrew-output">
         </div>
      </div><!-- close .row -->
    </div><!-- close .container -->

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>
  </body>
</html>
