<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Personal API Stuff</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <!-- Form For CRUD -->
            <h1>Some personal Stuff</h1>
              <form id="andrewForm" class="andrew-form">
                <input type="text" id="title" name="title" placeholder="Title" />
                <input type="text" id="medium" name="medium" placeholder="Medium" />
                <input type="text" id="description" name="description" placeholder="Description" />
                <button id ="submit" type="submit" class="btn btn-primary">Submit</button>
              </form>

              <div id="output" class="andrew-output">

          <!-- <h4><a href="/api">Read My API Documentation</a></h4> -->
        </div><!-- close .col-md-8 -->
      </div><!-- close .row -->
    </div><!-- close .container -->

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>
  </body>
</html>
